<?xml version="1.0" ?>
<robot name="prbt" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- First, create the first link "world" -->
    <link name="world"/>
    <joint name="world_to_table" type="fixed">
        <parent link="world"/>
        <child link="table"/>
    </joint>

    <!-- macro definition of pilz lwa -->
    <xacro:include filename="$(find prbt_support)/urdf/prbt_macro.xacro" />
    <!-- instantiate the robot -->
    <xacro:prbt prefix="prbt_"/>

    <!-- Add the tcp (tutorial 2) -->
    <link name="prbt_tcp"/>
    
    <!-- connect the added tcp and the flange with a joint (tutorial 2)-->
    <joint name="prbt_fixed_joint_tcp" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
      <parent link="prbt_flange"/>
      <child link="prbt_tcp"/>
    </joint>

    <!-- Add the box_link-->
    <link name="box_link"/>
    
    <!-- connect the added box and table with a joint -->
    <joint name="box_fixed_joint_table" type="fixed">
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <parent link="table"/>
      <child link="box_link"/>
    </joint>

    <!-- Add a table -->
    <link name="table">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 -0.03"/>
        <geometry>
          <mesh filename="package://pilz_tutorial/urdf/meshes/cell.stl" />
          <!-- <box size="0.6 1.2 0.05"/> -->
        </geometry>
        <material name="grey"/>
      </visual>

      <collision>
        <origin rpy="0 0 0" xyz="0 0 -0.03"/>
        <geometry>
          <box size="1.0 1.2 0.05"/>
        </geometry>
      </collision>
    </link>
    
    <joint name="table_joint" type="fixed">
        <parent link="table"/>
        <child link="prbt_base_link"/>
    </joint>
    <!-- coloring from the table -->
    <material name="grey">
      <color rgba="0.75 0.75 0.75 1"/>
    </material>
    <!-- coloring from the stl file -->
    <material name="yellow">
      <color rgba="1 1 0 1"/>
    </material>

    

    <!-- add PG70 gripper with cuboid brackets of configurable size -->
    <xacro:include filename="$(find prbt_pg70_support)/urdf/pg70.urdf.xacro" />
    <xacro:prbt_gripper gripper_name="prbt_gripper" parent="prbt_flange" />
    <xacro:include filename="$(find prbt_support)/urdf/simple_gripper_brackets.urdf.xacro" />
    <xacro:simple_gripper_brackets gripper_name="prbt_gripper" size_y="0.003" />
    

 
    

</robot>